//项目提供SCSS全局变量

//左侧菜单的宽度
$base-menu-width: 260px;

//左侧菜单的颜色
$base-menu-background: #001529;

//顶部菜单的高度
$base-tabbar-height: 50px;

//左侧菜单logo高度设置
$base-menu-logo-height: 50px;

//左侧logo右侧文字大小
$base-logo-title-font-size: 20px;